.question-card-container{
    font-size: 34px;
    display: flex;
    justify-content: space-between;
    border:2px solid #f0e7d9;
    border-radius: 20px;
    padding: 20px;
    align-items: flex-end;
    margin-bottom: 20px;
    img{
        width: 350px;
        border-radius: 20px;
    }
}