.layout{
  display: flex;
  height: 100vh;
}
.sidebar-container{
  flex:1;
  border-right: 1px solid #fff4ec;
  background-color:#f0e7d9;
  box-shadow:3px 0px 6px grey;

}
.content-container{
  flex:2;
  display:flex;
  align-items: flex-end;
  justify-content: center;
}