.layout{
  display: flex;
  height: 100vh;
}
.sidebar-container{
  border-right: 1px solid #fff4ec;
  background-color:#f0e7d9;
  box-shadow:3px 0px 6px grey;
  width:375px;
  position: absolute;
  height: 100vh;
  left: 100px;
  z-index: 999;
}
.content-container{
  flex:2;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 1000px;
}